# Pastas de cache do Python
__pycache__/
*.pyc

# Ambientes virtuais (caso use no futuro)
venv/
.venv/
env/

# Variáveis de ambiente (Segurança)
.env

# Arquivos gerados pelo seu código
data/

# Teste de Interface
testar_interface.py

#Arquivos de investimento
investimentos.txt
resultado_renda_fixa.json