# Pastas de cache do Python
__pycache__/
*.pyc

# Ambientes virtuais (caso use no futuro)
venv/
.venv/
env/

# Variáveis de ambiente (Segurança)
.env

# Arquivos gerados pelo seu código
data/

# Testes
tests/
testar_interface.py
teste_api.ipynb

#Arquivos de investimento
investimentos*.txt